@import 'views/articles.less';

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {font-weight: 300;}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.panel {
    .glyphicon-trash {cursor: pointer}
}

.content {
    margin-top:50px;
    width:100%
}

.page-header {
    .pull-right {
        margin-top: 20px;
    }
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
