<section class="col-md-12">
    <hr/>
    <h2 class="">Contents</h2>

	<ul class="contents unstyled">
		<li data-ng-repeat="content in course.contents">
			<h2>{{content.name}}</h2>
			<div>{{content.code}}</div>
            <button class="btn" ng-click="editContent(content)">Edit</button>
            <button class="btn" ng-click="course.contents.splice($index, 1)">Remove</button>
		</li>
	</ul>
    <div ng-include="'views/content/edit.html'" data-ng-show="edit.content"></div>
    <div>
        <button class="btn btn-success" ng-click="edit.content = {}" data-ng-hide="edit.content">Create new content</button>
    </div>
</section>