<section data-ng-controller="UsersController">
    <form class="form-horizontal" data-ng-submit="createOrUpdate()">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" name="name" data-ng-model="user.name" id="name" placeholder="Name" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" name="username" data-ng-model="user.username" id="username" placeholder="Username" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" name="email" data-ng-model="user.email" id="email" placeholder="Email" required>
            </div>
        </div>
        <div class="control-group" ng-hide="user._id">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="text" name="password" data-ng-model="user.password" id="password" placeholder="Password" ng-required="!user._id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="school">School</label>
            <div class="controls">
                <select name="school" id="school" ng-model="user.school" ng-options="school.name as school.label for school in schools">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Permissions</label>
            <div class="controls"
                 data-ng-repeat="(permission, value) in user.permissions">
                <label>
                    <input type="checkbox"
                           ng-model="user.permissions[permission]"/>
                    <span>{{ 'user.permissions.' + permission | translate }}</span>
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn">
            </div>
        </div>
    </form>
</section>
