<section class="col-md-6 col-md-offset-3" data-ng-controller="UsersController">
    <div class="page-header clearfix">
        <h1 class="pull-left">Users</h1>
		<a href="/#/users/create" class="btn btn-success pull-right">Add new user</a>
    </div>

	<div class="list-group users">
	<a data-ng-href="#/users/{{user._id}}" class="list-group-item" data-ng-repeat="user in users">
		<span class="badge">04 <i class="glyphicon glyphicon-book"></i></span>
	    <h4 class="list-group-item-heading">{{user.name}} <small>({{user.username}})</small></h4>
	    <p class="list-group-item-text">{{user.email}}</p>
        <!-- <button class="btn" ng-click="remove(user)" ng-show="user._id">Remove</button> -->
	</a>
	</div>

</section>
