<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <button class="btn btn-default btn-pages prev pull-left"
                ng-click="backward()">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </button>

        <button class="btn btn-default btn-pages next pull-right"
                ng-click="forward()">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </button>
    </div>
    <div class="panel-body c-video">
        <div class="page-header">
            <h2 class="text-success">{{data.content.name}}</h2>
            <div class="lead">{{data.content.description}}</div>
        </div>

        <div class="clearfix">
            <laere-embed></laere-embed>
        </div>

        <div class="col-md-12">
            <h4 class="text-muted"><a href="{{data.content.url}}">{{data.content.url}}</a></h4>

            <button class="btn btn-default btn-primary hide"><span class="glyphicon glyphicon-check"></span> Solve it</button>
            <button class="btn btn-default" ng-click="unsee()"><span class="glyphicon glyphicon-eye-close"></span> Mark as unseen</button>
        </div>
    </div>
    <div class="panel-footer issues-list hide">
        <div class="media">
            <div class="pull-left">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Michael Jackson</h4>
                <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.
                </p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Michael Jackson</h4>
                <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.
                </p>
            </div>
        </div>
        <textarea class="form-control" rows="2" placeholder="Issues and comments"></textarea>
        <button class="btn btn-default btn-block btn-success">Publicar</button>
    </div>
</div>