<div class="panel panel-default">
    <div class="panel-heading">
        <span class="badge pull-right">{{course.contents.length}}</span> {{classroom.name}}

        <div class="progress">
            <div class="progress-bar progress-bar-success" ng-style="data.seenProgressStyle">
            </div>
        </div>

    </div>
    <div class="list-group">
        <div ng-click="data.selectedContentIndex = $index"
             class="list-group-item"
             style="cursor: pointer"
             data-ng-class="{'active': data.content === content}"
             data-ng-repeat="content in course.contents">
            <span data-ng-hide="content.solution.seen"
                  class="glyphicon glyphicon-asterisk pull-right badge-notif text-success"></span>
            <span class="badge hide">Evaluate</span>
            <h5 class="list-group-item-heading">{{content.name}}</h5>
            <small class="list-group-item-text">{{content.description}}</small>
        </div>
    </div>
</div>