<section data-ng-controller="ProgressController">
    <div class="page-header clearfix">
        <div class="col-md-9">
            <h2>{{course.name}} <small>{{course.code}}</small></h2>
        </div>
    </div>
    <div class="row" data-ng-controller="ProgressViewController">
        <div class="col-md-4 sidebar-progress" ng-include="'views/progress/sidebar.html'">
        </div>
        <div class="col-md-8" ng-include="'views/progress/panel.html'" data-ng-show="data.content">
        </div>
    </div>
</section>
