<section data-ng-controller="TeachController">
    <div class="page-header clearfix">
        <div class="col-md-9">
            <h2>{{course.name}} <small>{{course.code}}</small></h2>
        </div>
        <div class="col-md-3">
            <select class="form-control"
                    ng-model="progress"
                    ng-options="progress.student.name for (key, progress) in progresses">
                <option value="">select a student</option>
            </select>
        </div>
    </div>
    <div class="row" data-ng-controller="ProgressViewController">
        <div class="col-md-4 sidebar-progress" ng-include="'views/progress/sidebar.html'">
        </div>
        <div class="col-md-8" ng-include="'views/progress/panel.html'">
        </div>
    </div>
</section>
