<section data-ng-controller="ContentsController">
    <h4><span class="glyphicon glyphicon-file"></span> Contents</h4>

    <div class="well well-lg text-center" data-ng-hide="data.content || data.course.contents.length > 0">
        <p class="lead">There's no content yet :-(</p>
        <button class="btn btn-default btn-lg" ng-click="data.content = {}" data-ng-hide="data.content">Create new content</button>
    </div>

	<ul class="contents list-group" data-ng-hide="data.content">
		<li data-ng-repeat="content in data.course.contents" class="list-group-item">
            <div class="btn-group btn-group-sm pull-right">
                <button class="btn btn-default" ng-click="editContent($index)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                <button class="btn btn-danger" ng-click="removeContent($index)">Remove</button>
            </div>

			<h4>{{content.name}}</h4>
			<div class="text-muted">{{content.description}}</div>

		</li>
	</ul>
    <div ng-include="'views/contents/edit.html'" data-ng-show="data.content"></div>
    <div>
        <button class="btn btn-success" ng-click="data.content = {}"
        data-ng-hide="data.content || data.course.contents.length === 0">Create new content</button>
    </div>
</section>