<div data-ng-controller="CoursesController">

<div class="page-header">
    <h2>Course</h2>
</div>
    <h3 class="editable" ng-click="showEdit = true" ng-show="!showEdit && data.course._id">
        {{data.course.name}}
        <small>
            {{data.course.code}}
        </small>
    </h3>

    <form class="form clearfix fade-in" ng-show="showEdit || !data.course._id" data-ng-submit="createOrUpdate()">
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" data-ng-model="data.course.name" id="name" placeholder="My course" required class="form-control input-lg" autofocus>
        </div>

        <div class="form-group">
            <label class="control-label" for="code">Abbreviation</label>
            <input type="text" data-ng-model="data.course.code" id="code" placeholder="e.g. INF1005" required class="form-control input-lg">
        </div>

        <div data-ng-show="data.course._id">
            <button type="button" class="btn btn-default pull-left"
            ng-click="showEdit = false">Cancel</button>
            <button type="button" class="btn btn-link pull-left"
            ng-click="remove(data.course)"><span class="text-danger">Remove course <i class="glyphicon glyphicon-remove"></i></span></button>
            <button type="submit" class="btn btn-success btn-lg pull-right" data-ng-hide="data.content || data.classroom">Update course  <span class="glyphicon glyphicon-ok-sign"></span></button>
        </div>
        <div data-ng-hide="data.course._id">
            <button type="submit" class="btn btn-success btn-lg pull-right">Create course  <span class="glyphicon glyphicon-ok-sign"></span></button>
        </div>
    </form>
        <hr>

<div class="row">

<section>
    <div class="col-md-6" ng-include="'views/contents/list.html'"
         class="row"
         data-ng-show="global.user.permissions.classroom && data.course._id"></div>
    <div class="col-md-6" ng-include="'views/classrooms/list.html'"
         class="row"
         data-ng-show="global.user.permissions.manage && data.course._id"></div>
</section>
</div>
<hr>
</div>