<section class="col-md-6 col-md-offset-3" data-ng-controller="CoursesController">
    <div class="page-header clearfix">
        <h2 class="pull-left">Courses</h2>
		<a href="/#/courses/create" class="btn btn-success pull-right">Create new course</a>
    </div>

	<ul class="courses unstyled">
		<li data-ng-repeat="course in courses">
			<h2><a data-ng-href="#/courses/{{course._id}}">{{course.name}}</a></h2>
			<div>{{course.code}}</div>
            <button class="btn" ng-click="remove(course)" ng-show="course._id">Remove</button>
		</li>
	</ul>
</section>
