<section class="row" data-ng-controller="CoursesController">
    <div class="page-header clearfix">
        <h2 class="pull-left">Courses</h2>
		<a href="/#/courses/create" class="btn btn-success pull-right">Create new course</a>
    </div>

<div class="row">
	<div class="col-md-6" data-ng-repeat="course in courses">
		<div class="panel panel-default">
		  <div class="panel-heading clearfix">
		    <h3 class="panel-title pull-left">{{course.name}} <small>{{course.code}}</small></h3> <i class="glyphicon glyphicon-trash pull-right" ng-click="remove(course)" ng-show="course._id"></i>
		  </div>
		  <div class="panel-body">
		    Panel content
		  </div>
		</div>
	</div>
</div>

</section>
