<section class="row" data-ng-controller="CoursesController">
    <div class="page-header clearfix">
        <h1 class="pull-left">Courses</h1>
		<a href="/#/courses/create" class="btn btn-success pull-right">Create new course</a>
    </div>

<div class="row">
	<div class="col-md-4" data-ng-repeat="course in courses">
		<div class="panel panel-default">
		  <a data-ng-href="#/courses/{{course._id}}/edit">
		  <div class="panel-body">
		    <h2 class="panel-title lead"><span class="pull-left">{{course.name}}</span>
		    	<small class="pull-right">
		    		{{course.code}}<br>
		    		<span class="meta">08 classrooms</span>
		    	</small></h2>
		  </div>
		  </a>
		</div>
	</div>
</div>

</section>
