<section class="col-md-6 col-md-offset-3" data-ng-controller="AccountsController">
    <div class="page-header clearfix">
        <h2 class="pull-left">Schools</h2>
		<a href="/#/accounts/create" class="btn btn-success pull-right">Create new school</a>
    </div>

	<ul class="accounts unstyled">
		<li data-ng-repeat="account in accounts">
			<span>{{account.created | date:'medium'}}</span> /
			<span>{{account.creator.name}}</span>
			<h2><a data-ng-href="#/accounts/{{account._id}}">{{account.name}}</a></h2>
			<div>{{account.label}}</div>
            <button class="btn" ng-click="remove(account)" ng-show="account._id">Remove</button>
		</li>
	</ul>
</section>
