<% layout('layout') %>
<section data-ng-view></section>
<script type="text/javascript">
    window.user = <%-user%>;
    window.school = <%-school%>;
    window.env = <%-env%>;
    window.laereHost = <%-host%>;
</script>
